<div class="container mt-5">
  @if (photoForm) {
  <form [formGroup]="photoForm" class="card mx-auto photo-form">
    <div class="card-header text-center">
      <i class="fas fa-user-tie fa-3x mb-2"></i><br/>
      <strong>{{ photoForm.get('name')?.value }}</strong>
      </div>

      <div class="card-body">

        <div class="mb-2">
          <label class="form-label">Name:</label>
          <input type="text" class="form-control" formControlName="photoName"/>
          @if (photoForm.get('photoName')?.invalid && photoForm.get('photoName')?.touched) {
  <div class="text-danger small">Name is required.</div>
  }
  </div>

  <div class="mb-2">
    <label class="form-label">photoId:</label>
    <input type="text" class="form-control" formControlName="photoId"/>
    @if (photoForm.get('photoId')?.invalid && photoForm.get('photoId')?.touched) {
  <div class="text-danger small">
    @if (photoForm.get('photoId')?.errors?.['required']) {
    CNP is required.
    }
    @if (photoForm.get('photoId')?.errors?.['pattern']) {
    CNP must contain only digits.
    }
  </div>
  }
  </div>

  <div class="mb-2">
    <label class="form-label">Upload Date:</label>
    <input type="date" class="form-control" formControlName="uploadedAt"/>
    @if (photoForm.get('uploadedAt')?.invalid && photoForm.get('uploadedAt')?.touched) {
  <div class="text-danger small">Upload date is required.</div>
  }
  </div>

</div>

<div class="card-footer d-flex justify-content-between">
  @if (loggedUser?.role == Role.ADMIN) {
  <button (click)="deletePhoto()" class="btn btn-outline-danger" type="button">
    <i class="fas fa-trash"></i>
  </button>
  }
  @if (loggedUser?.role == Role.ADMIN || loggedUser?.role == Role.MODERATOR) {
  <button (click)="toggleEdit()" [disabled]="photoForm.invalid" class="btn btn-outline-primary" type="button">
    <i [ngClass]="editMode ? 'fa-save' : 'fa-pen'" class="fas"></i>
  </button>
  }
  </div>
</form>
  } @else {
  <div class="alert alert-info text-center mt-4">No photo selected.</div>
  }
</div>
