<div class="container mt-5">
  @if (photoForm) {
  <form [formGroup]="photoForm" class="card mx-auto photo-form">
    <div class="card-header text-center">
      <i class="fas fa-user-tie fa-3x mb-2"></i><br/>
      <strong>{{ photoForm.get('photoName')?.value }}</strong>
      </div>

      <div class="card-body">

        <div class="mb-2">
          <label class="form-label">Name:</label>
          <input type="text" class="form-control" formControlName="photoName"/>
          @if (photoForm.get('photoName')?.invalid && photoForm.get('photoName')?.touched) {
  <div class="text-danger small">Name is required.</div>
  }
  </div>

  <div class="mb-2">
    <label class="form-label">Photo ID:</label>
    <input type="text" class="form-control" formControlName="photoId"/>
    @if (photoForm.get('photoId')?.invalid && photoForm.get('photoId')?.touched) {
  <div class="text-danger small">
    @if (photoForm.get('photoId')?.errors?.['required']) {
    Photo ID is required.
    }
  </div>
  }
  </div>

  <div class="mb-2">
    <label class="form-label">Album ID:</label>
    <input type="text" class="form-control" formControlName="albumId"/>
  </div>

  <div class="mb-2">
    <label class="form-label">Path:</label>
    <input type="text" class="form-control" formControlName="path"/>
  </div>

  <div class="mb-2">
    <label class="form-label">Upload Date:</label>
    <input type="date" class="form-control" formControlName="uploadedAt"/>
    @if (photoForm.get('uploadedAt')?.invalid && photoForm.get('uploadedAt')?.touched) {
  <div class="text-danger small">Upload date is required.</div>
  }
  </div>

  <div class="mb-2">
    <label class="form-label">Edited:</label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" formControlName="isEdited" id="isEditedCheckbox">
      <label class="form-check-label" for="isEditedCheckbox">
  {{ photoForm.get('isEdited')?.value ? 'Yes' : 'No' }}
  </label>
</div>
</div>

</div>

<div class="card-footer d-flex justify-content-between">
@if (loggedUser?.role == Role.ADMIN) {
  <button (click)="deletePhoto()" class="btn btn-outline-danger" type="button">
    <i class="fas fa-trash"></i>
  </button>
  }
  @if (loggedUser?.role == Role.ADMIN || loggedUser?.role == Role.MODERATOR) {
  <button (click)="toggleEdit()" [disabled]="photoForm.invalid" class="btn btn-outline-primary" type="button">
    <i [ngClass]="editMode ? 'fa-save' : 'fa-pen'" class="fas"></i>
  </button>
  }
  </div>
</form>
  } @else if (error) {
  <div class="alert alert-danger text-center mt-4">{{ error }}</div>
  } @else {
  <div class="alert alert-info text-center mt-4">Loading photo details...</div>
  }
</div>
