<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fas fa-camera-retro"></i> PhotoApp
    </a>

    <div class="collapse navbar-collapse show">
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="ROUTES.PROFILE">
            <i class="fas fa-user"></i> Profile
          </a>
        </li>
        <!-- Show albums link to all users -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="ROUTES.ALBUMS">
            <i class="fas fa-photo-film"></i> Albums
          </a>
        </li>
        <!-- Only show photos management to ADMIN and MODERATOR -->
        @if (hasPhotoTablePermission) {
        <li class="nav-item">
          <a class="nav-link" [routerLink]="ROUTES.PHOTOS">
            <i class="fas fa-images"></i> All Photos
          </a>
        </li>
        }
        <li class="nav-item">
          <a class="nav-link" [routerLink]="ROUTES.ABOUT">
            <i class="fas fa-info-circle"></i> About
          </a>
        </li>
        <li class="nav-item ms-auto">
          <button class="nav-link" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Log out
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
